/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: none; border: none; position: relative;zoom: 1;
border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */


.flex-caption {width: 100%px; position: absolute; left: -9px;right:-9px; bottom: -3px !important;top:auto !important; background: url(../images/tail-flex-caption.png) repeat-x 0 0; color: #fff;height:74px;text-align:center;}
.flex-caption span{display:block;font-family: 'Fanwood Text', serif;padding-top:23px;font-style:italic;font-size: 24px; line-height:26px}



/* Direction Nav */
.flex-control-nav {display:none}
.flex-control-nav li a{font-size:0;line-height:0}
.flex-direction-nav,.flex-control-nav {position:absolute;}
.flex-direction-nav{width:100%;}
.flex-direction-nav li a {width: 37px; height: 37px;display: block;position: absolute; bottom: 18px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {right: 12px;background:url(../images/next.png) no-repeat 0 0;}
.flex-direction-nav li .prev {left: 12px;background:url(../images/prev.png) no-repeat 0 0;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
.flex-direction-nav li a:hover{background-position: 0 bottom}

.flex-control-nav li a{font-size:0;line-height:0}

@media only screen and (max-width: 767px) {

.flex-caption span{display:none}
.flex-caption {height:45px}
.flex-direction-nav li a{bottom: 3px;}
}

