@import"../css/reset.css";@import"../css/skeleton.css";@import"../css/superfish.css";@import"../css/forms.css";@import url(http://fonts.googleapis.com/css?family=Anton);@import"../css/flexslider.css";
@import url(http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic);
body{background:#e9e9e9;font:13px/20px Arial, Helvetica, sans-serif;color:#6b5f4e;position:relative;min-width:320px;background:url(../images/tail-body.gif) 50% 0}*/
html,body{height:100%;}
p{padding-bottom:18px}
a{color:#ef4f33;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration: underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.2em;text-transform:uppercase;font-family: 'Anton', sans-serif;font-weight:normal;padding-bottom:18px;color:#f1ede6}
h1{font-size:30px;}
h2{font-size:27px;}
h3{font-size:24px;} 
h4{font-size:18px;padding-bottom:24px}  
h5{font-size:16px;}
h6{font-size:14px;}

.search-results h3{color:#342518;padding-top:40px;padding-left:14px}

/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{width:100%;overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ef4f33;}
.main-glow{background:url(../images/main-glow.gif) no-repeat 50% 0;min-height:100%}
.main{width:940px;margin:0 auto;position:relative}
p{padding-bottom:20px}
.p0 {padding-bottom:0 !important;}
.p01 {padding-top:0 !important;}
.p {padding-top:1px}
.p1 {padding-top:2px}
.p2 {padding-top:3px}
.p3 {padding-top:4px}
.p4 {padding-top:5px}
.p5 {padding-top:6px}
.p6 {padding-top:7px}
.p7 {padding-top:8px}
.p8 {padding-top:9px}
.p9 {padding-top:10px}
.p10 {padding-top:11px}
.p11 {padding-top:12px}
.p12 {padding-top:13px}
.p13 {padding-top:14px}
.p14 {padding-top:15px}
.p15 {padding-top:16px}
.p16 {padding-top:17px}
.p17 {padding-top:22px}
.p18 {padding-top:25px}
.p19 {padding-top:26px}
.p20 {padding-top:32px}
.padd-1 {padding-top:48px;}
.padd-2 {padding-top:56px;}
.padd-3 {padding-top:60px;}
.m0 {margin:0 !important}
.m1 {margin-top:-1px}
.m2 {margin-top:-2px}
.m3 {margin-top:-3px}
.m4 {margin-top:-4px}
.m5 {margin-top:-5px}
.m6 {margin-top:-7px}
.m7 {margin-top:-13px}
.box-sh{ 
 box-shadow: 0 0 3px #241b11;
	-moz-box-shadow: 0 0 3px #241b11;
	-webkit-box-shadow: 0 0 3px #241b11;}
	.overflow{overflow:hidden}
	.img-indent{float:left;margin:3px 20px 0 0}
	.img-indent1{float:left;margin:0 20px 0 10px}
	.img-indent2{float:left;margin:3px 30px 0 0}
	
	
.bg-main{background:url(../images/tail-main.gif) 50% 0}	
/*********************************header*************************************/
header{background:url(../images/tail-border-top.png) repeat-x 0 0;padding-top:15px;position:relative;z-index:10}
#page1 header{z-index:50}
header h1 a{display:inline-block; width:330px; height:132px; text-indent:-999em; background:url(../images/logo.png) 0 0 no-repeat;}
header h1 {text-align:center;display:block;padding-bottom:10px}
.row-nav{position:relative;z-index:50}
.box-search{float:left;background:url(../images/tail-item.gif) repeat-x 0 0;width:214px;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	height:59px}


/********************** Content ************************/
section#content{position:relative;z-index:20;padding-bottom:52px}
#page4 section#content,#page5 section#content,#page6 section#content{padding-bottom:36px}

.row-1{background:#f1ede6; 	border-radius:0 0 4px 4px;
 box-shadow: 0 2px 3px #13100a;
	-moz-box-shadow: 0 2px 3px #13100a;
	-webkit-box-shadow: 0 2px 3px #13100a;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;}
.row-1 h4{color:#342518}
#page2 .row-1 h4{padding-bottom:19px}
#page2 .row-1 {padding-bottom:20px}
#page3 .row-1{padding-bottom:50px}
#page4 .row-1{padding-bottom:33px}
#page5 .row-1{padding-bottom:20px}
#page6 .row-1{padding-bottom:50px}
.row-1 p{color:#887d74;font-size:12px}
#page1 .row-2{padding-top:57px}

.row-2{padding-top:56px}

.box-1{text-align:center;padding-top:36px;padding:36px 36px 53px;background:url(../images/tail-border-1.gif) repeat-y right 0 }
.box-1.last{background:none}
.box-1 figure{padding-bottom:9px}
.box-1 p{padding-bottom:14px}
.box-1 h4{padding-bottom:14px}



.txt-1,.txt-2{color:#fefefd;padding-bottom:20px}
.txt-2{padding:0}
.txt-3{font-family: 'Fanwood Text', serif;font-size:18px;line-height:24px;color:#322417;font-style:italic;padding:2px 0 26px 0 }
/*------- main background ------*/
.border-vert{background:url(../images/tail-border-vert.gif) repeat-y 360px 0}
.border-vert1{background:url(../images/tail-border-1.gif) repeat-y 467px 0}
.box-img a img{opacity:1;}
.img-subp{position:relative;z-index:5}
.inner-1{padding:0 23px 0 29px}
.inner-2{padding:0 10px}
.inner-3{padding:0 38px 0 29px}
.inner-4{padding:0 0 0 29px}
.inner-5{padding:0 27px 0 0}
.inner-6{padding:0 28px 0 29px}


.quote1{font-family: 'Fanwood Text', serif;font-size:18px;line-height:24px;color:#322417;font-style:italic;padding-bottom:9px}
.date-1{font-family: 'Fanwood Text', serif;font-size:18px;line-height:24px;color:#322417;font-style:italic;width:60px;text-align:center;float:left;padding:2px 0 0 9px}
.name-1{font-family: 'Fanwood Text', serif;font-size:18px;line-height:24px;color:#322417;font-style:italic;padding:16px  0 2px}
.price-1 {font-size:12px; color:#887d74}
.price-1 span{font-family: 'Fanwood Text', serif;font-size:18px;line-height:20px;color:#322417;font-style:italic;display:inline-block;padding-left:6px}
.box-cookbook{padding-bottom:46px}
.box-cookbook.a{margin: 0 0 0 31px}
.box-cookbook.b{margin: 0 31px 0 0}

.box-cookbook p{padding-bottom:14px}
/*----- map -----*/

.map {
	display:inline-block;
	background:#fff;
	margin: 3px 0 16px 31px
}
.map iframe {
	height:250px;
	overflow: hidden;
	width:404px;
}

/*----- address -----*/
.mail-1 {
	font-style:normal;
	font-size:12px;
	line-height:20px;
	color:#a9412e;
	display:inline-block;
	text-decoration:none;
}
dl.address {width:230px;text-align:center;margin:0 auto
}
dl.address dt {
	width:68px
	font-size:12px;
	line-height:20px;
	color:#887d74;padding-bottom:20px
}
dl.address dd {
	font-size:12px;
	color:#887d74;
	line-height:20px;
}
dl.address dd span {
	display:inline-block;
	width:68px
}
.policy {
text-align:center;padding: 0 50px
}
.policy strong {
	display:block;
	color:#887d74
}
.policy a {color:#887d74
}



/*  lists */
.list-1{padding-bottom:4px}
.list-1 li{background:url(../images/tail-list-1.gif) repeat-x 0 0 #281c12;display:block;     
   border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;margin-bottom:1px;
	  box-shadow: 0 1px 1px  #120c08;
	 box-shadow: 0 1px 1px   #120c08;
	 box-shadow: 0 1px 1px  #120c08;
}

.list-1 li a{font-size:18px;line-height:20px;text-transform:uppercase;color:#746957;font-family: 'Anton', sans-serif;display:block;padding: 15px 0 15px 20px}

.list-1 li:hover{background:url(../images/tail-list-1-hover.gif) repeat-x 0 0 #a02622}
.list-1 li:hover a{color:#fff;text-decoration:none}
.list-2{}
.list-2 li{background:url(../images/marker-1.gif) no-repeat 0 6px;padding: 0 0 12px 20px;line-height:18px}
.list-2 li a{color:#a73f2c;font-size:13px;-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.list-2 li a:hover{text-decoration:none;color:#fff}
.list-3{margin-top:-4px}
.list-3 li{background:url(../images/border-list3.png) repeat-x 0 12px;overflow:hidden;text-transform:uppercase;color:#887d74;line-height:18px;margin-bottom:2px}
.list-3 li strong,.list-3 li span{display:inline-block;float:left;background:#f1ede6;font-weight:normal;font-size:12px}
.list-3 li span{float:right;text-align:right;padding-left:2px;}
.list-3 li strong{padding-right:2px}
/*  Buttons */
.button{display:inline-block;font-family: 'Anton', sans-serif;text-transform:uppercase;font-size:14px;line-height:18px;padding:6px 11px 7px;color:#93877e;background:url(../images/tail-button.gif) repeat-x 0 0 #f5f4f2; 
border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
     -moz-box-shadow:0 1px  2px rgba(0,0,0,0.3);
      -webkit-box-shadow: 0 1px  2px rgba(0,0,0,0.3);
     box-shadow: 0 1px  2px rgba(0,0,0,0.3);margin-bottom:2px;	
	 text-shadow: 0 1px #fff}
	.button:hover{background-position: 0 bottom;color:#fff;text-decoration:none;box-shadow:none;text-shadow:none;font-weight:normal;background-color:#a12723}
/******************** Footer ******************/
footer {
	padding:24px 0;
	background:url(../images/bg-footer.png) repeat-x 0 0;
}
.privacy {
	color:#746957;
	font-size:12px;
	line-height:18px;
	width:100%;
	text-align:center;
	/*text-shadow:1px 1px #150f09;*/
}
.privacy a {
	font-size:12px;
	color:#746957;
	line-height:18px;
	text-decoration:none
}
.privacy a:hover {
	text-decoration:underline
}


/*==========================================*/
@media only screen and (min-width: 768px) and (max-width: 995px) {
	.box-search{width:142px;}
	#search {padding:13px 0 0 6px}
	#search .rowElem{width:129px;background:url(../images/part-search2.png) no-repeat 0 0;}
	 #search input{width:76px;}
	 .main{width:748px}
	 .border-vert{background-position: 286px 0}
	 .border-vert1{background-position:382px 0}
	  .map iframe {
	height:250px;
	overflow: hidden;
	width:307px;
	
}

.policy {
padding: 0 30px
}

	}
@media only screen and (max-width: 767px) {.main{width:300px}
.box-search{width:100%}
	#search {padding:13px 0 0 10px}
	#search .rowElem{width:280px;background:url(../images/part-search4.png) no-repeat 0 0;}
	 #search input{width:227px;}
	 .box-1{background:none;padding-bottom:0px}
	  .box-1.last{padding-bottom:36px}
	  .border-vert,.border-vert1{background:none}

		 .inner-4{padding:0 29px}
    .inner-5{padding:0 27px}
	 .box-cookbook.a,.box-cookbook.b {
    margin: 0 31px;
}
	.box-cookbook .img-indent2{float:none; margin: 3px 30px 12px;}  
	.map iframe {   
    width: 240px;
}
	.policy {
padding: 0 20px
}

	
	}
@media only screen and (min-width: 480px) and (max-width: 767px) {

.main{width:420px};
.box-search{width:100%}

	#search {padding:13px 0 0 17px}
	#search .rowElem{width:384px;background:url(../images/part-search3.png) no-repeat 0 0;}
	 #search input{width:332px;}	 

.box-cookbook .img-indent2{float:left;margin: 3px 30px 0 0;}  
	.map iframe {   
    width: 358px;
}

}
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */