nav {
	float: left;
}
.sf-menu {
	list-style: none;
}
.sf-menu a {
	font: 400 14px/18px 'Anton', sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.sf-menu > li {
	position: relative;
	float: left;
	text-transform: uppercase;
	background: url(../images/tail-item-menu.gif) repeat-x 0 0;
	width: 120px;
	text-align: center;
	margin-right: 1px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-webkit-transition: background-position 0.3s ease;
	-moz-transition: background-position 0.3s ease;
	-o-transition: background-position 0.3s ease;
	transition: background-position 0.3s ease;
}

.sf-menu > li > a {
	color: #fff;
	padding: 21px 0 20px;
	display: block;
	z-index: 10;
	position: relative;
	height: 18px;
}

.sf-menu > li.sfHover > a, .sf-menu > li:hover > a, .sf-menu > li.current > a {
	text-decoration: none;
}
.sf-menu > li.sfHover, .sf-menu > li:hover, .sf-menu > li.current {
	background-position: 0 -65px
}

.sf-menu > li > a span.arrow {
	display: block;
	width: 100%;
	height: 6px;
	position: absolute;
	top: 61px;
	left: 0;
	background: url(../images/menu-arrow.gif) center top no-repeat;
}
/***submenu***/
.sf-menu ul {
	position: absolute;
	top: -999em;
	z-index: 99;
	width: 120px;
	display: none;
	padding: 16px 0;
	background: #140e09;
}
.sf-menu li li {
	width: 100%;
	padding: 0;
	position: relative;
	text-align: center
}
.sf-menu li li a {
	display: block;
	padding: 8px 0;
	background: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a {
	text-decoration: none;
	background: #aa3426
}
.sf-menu li li li > a:hover {
	text-decoration: none;
	background: #b04028
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0px;
	top: 60px;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em;
}
/***subsubmenu***/

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 121px;
	top: -16px;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}

/* Design for a width of 768px */
@media only screen and (max-width: 995px) {
	.sf-menu > li {
		width: 100px
	}
	.sf-menu ul {
		width: 100px
	}
	/***submenu***/
	.sf-menu li.sfHover ul {
		left: 0;
	}
	/***subsubmenu***/

	ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
		left: 101px;
	}

}
@media only screen and (max-width: 767px) {
	.main {
		width: 420px
	}
	.sf-menu {
		float: none;
	}

	.sf-menu .sf-sub-indicator {
		text-indent: -999em;
		width: 9px;
		height: 5px;
		display: inline-block;
		background: url(../images/indicator.png) no-repeat;
		position: relative;
		left: 50%;
		top: 42px;
		margin-left: -5px;
		position: absolute
	}
	.sf-menu > li li > a > .sf-sub-indicator {
		top: 23px
	}
	.sf-menu ul, .sf-menu ul ul {
		min-width: 100%;
		position: relative;
		left: 0 !important;
		top: 0px !important;
		padding: 0;
	}

	nav {
		width: 100%;
		float: none;
	}
	.sf-menu > li {
		width: 100%;
		margin-bottom: 1px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		float: none;
	}
	.sf-menu > li a {
		display: block;
	}

	/***submenu***/
	.sf-menu ul {
		position: static;
		width: 100%;
	}
	/***subsubmenu***/
	ul.sf-menu ul ul {
		width: 100%;
		background-color: transparent;
	}
	ul.sf-menu ul ul li {
		float: none;
		width: 100%;
		text-align: center
	}

}

/* Design for a width of 480px and 320px*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

